<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860209720137-4cqljtrkidbgrqeggfcagfeb7qe3vkcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860209720137-4cqljtrkidbgrqeggfcagfeb7qe3vkcf</string>
	<key>API_KEY</key>
	<string>AIzaSyAuZLFW4VWRBYeb7HFULxyBXUulfLr_omc</string>
	<key>GCM_SENDER_ID</key>
	<string>860209720137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calebsmith.prayerlist</string>
	<key>PROJECT_ID</key>
	<string>prayer-database</string>
	<key>STORAGE_BUCKET</key>
	<string>prayer-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:860209720137:ios:d4dc4ee7de7f26bef80898</string>
</dict>
</plist>
